//正方形
div:before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    width: .1px;
    vertical-align: middle;
}

//px to rem
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 1.4rem;/*1.4 × 10px = 14px */}
h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}

//px to em
body { font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/ }
h1 { font-size: 2.4em; /*2.4em × 10 = 24px */}
p { font-size: 1.4em; /*1.4em × 10 = 14px */}
li { font-size: 1.4em; /*1.4 × ? = 14px ? */	}
